:root {
    --green: #98ad99;
    --red: #9D181D;
    --white: #f5f3f1;
    --whiteHover: #e2dfdc;
    --black: #342D27;
    --tan: #E3D6B2;
    --navy: #1f3855;
}

body {
    background-color: var(--green);
    padding-top:4rem;
    font-family: hack;
}

h2 {
    font-weight: bold;
}

.main {
    background-color: var(--white);
    border-radius: 25px;
    padding: 20px;
}


.fail {
    background-color: rgba(200,50,50,0.5);
    margin-top: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 5px solid var(--red);
}

.success {
    background-color: rgba(50,200,50,0.5);
    margin-top: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 5px solid green;
}

.top-margin {
    margin-top: 10px;
}

.text {
    color: black;
}

.inline {
    display: inline-block;
}

.left-align {
    text-align: left;
}
.center-align {
    text-align: center;
}